@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/*
*   Variables
*/
:root{
    --backgroundColor: rgb(97, 97, 97);
}
/*
*   Not Valiables
*/
html {
    color-scheme: dark;
    text-align: center;
    font-family: Manrope;
}
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    margin-top: 10%;
    width: 60vw;
    height: 30vw;

    background-color: var(--backgroundColor);  
    border-radius: 40px;
    box-shadow: 10px;

    display: grid;
    align-items: center;
    justify-content: center;
}
button {
    background-color: rgb(80, 80, 80) ;
    border: 4px green solid;
    color: black;
    width: 10vw;
    height: 3vw;
}