@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/*
*   Variables
*/
:root{
/*dark*/
    --backgroundColor: rgb(97, 97, 97);
    --mainColor1: rgb(61, 61, 61);
    --mainColor2: rgb(95, 95, 95);
    --colorScheme: dark;
    --boxshadow: 10px 10px 5px 0px rgba(165, 165, 165, 0.75);
/*free internal fire pit of hell*/
/*
    --backgroundColor: rgb(236, 236, 236);
    --mainColor1: rgb(214, 214, 214);
    --mainColor2: rgb(231, 231, 231);
    --colorScheme: light;
    --boxshadow: 10px 10px 5px 0px rgba(165, 165, 165, 0.75);
*/
}
/*
*   Animations
*/
@keyframes h1intro {
    0%{transform: scale(4);opacity: 0;}
    100%{transform: scale(1);opacity: 1;}
}
@keyframes buttonintro {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes imgintro {
    0%{opacity: 0;}
    100%{opacity: 1;} 
}
/*
*   Not Valiables
*/
html {
    color-scheme: var(--colorScheme);
    text-align: center;
    font-family: "Manrope-Regular","OpenSans",sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    margin-top: 10%;
    width: 60vw;
    height: 30vw;

    background-color: var(--backgroundColor);  
    border-radius: 40px;
    box-shadow: 10px;

    display: grid;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    box-shadow: var(--boxshadow);

}

h1 {
    animation: h1intro 0.4s;
}

#img {
    height: 20vw;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;

    background-position: top;
    background-size: 30vw;
    background-repeat: no-repeat;

    animation: imgintro 1s;
}

#colorChanger {
    position: fixed;
    width: 90px;
    top: 0px;
    right: 0px;
 
}
/*
*   Classes
*/
.questions_grid {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw;
    background-color: var(--mainColor1);

    margin-right: auto;
    margin-left: auto;

    animation: buttonintro 2s;
}

.questions_grid_item {
    background-color: var(--mainColor1);
    border: 4px var(--mainColor2) solid;
    transition: all 0.7s;
    user-select: none;
    cursor:pointer;
}

.questions_grid_item:hover {
    background-color: var(--mainColor2);
    border: 4px var(--mainColor1) solid;
}