@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/*
*   Variables
*/
:root{
    --backgroundColor: rgb(97, 97, 97);
    --mainColor1: rgb(61, 61, 61);
    --mainColor2: rgb(95, 95, 95);
}
/*
*   Not Valiables
*/
html {
    color-scheme: dark;
    text-align: center;
    font-family: Manrope;
}
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    margin-top: 10%;
    width: 60vw;
    height: 30vw;

    background-color: var(--backgroundColor);  
    border-radius: 40px;
    box-shadow: 10px;

    display: grid;
    align-items: center;
    justify-content: center;
}

/*
*   Classes
*/
.questions_grid {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw;
    background-color: var(--mainColor1);

    margin-right: auto;
    margin-left: auto;
}
.questions_grid_item {
    background-color: var(--mainColor1);
    border: 4px var(--mainColor2) solid;
    transition: all 0.7s;
    user-select: none;
}
.questions_grid_item:hover {
    background-color: var(--mainColor2);
    border: 4px var(--mainColor1) solid;
}